.container-searchBar {
  width: 95%;
  background-color: #ECD400;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90px;
  justify-content: space-evenly;
  margin-bottom: 5vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-input {
  display: flex;
  gap: 20px;
}

.container-input label {
  font-family: Epilogue;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
}

.container-input input {
  margin-right: 5px;
  background-color: #590202;
}

.container-searchBar button {
  padding: 3px 100px;
  font-family: Epilogue;
  border: none;
  border-radius: 5px;
  background-color: #590202;
  color: white;
  font-weight: 600;
}

.container-iconsCategory {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.container-iconsCategory button:first-child {
  margin-bottom: 2vh;
}

.icon-category {
  border: none;
  background-color: transparent;
}

.container-all-recipes {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.container-card-category {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: auto;
  border: 1px solid #B1B1B1;
  border-radius: 5px;

}

.container-card-category img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container-all-recipes a {
  text-decoration: none;
  font-size: 13px;
  color: #1A1B1C;
  font-weight: 400;
  font-family: Epilogue;
}

.container-all-recipes p {
  margin: 5px 15px;
}